/* Base modal styles */
.modal-product {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-product form {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.modal-product h2 {
  margin-top: 0;
}

.modal-product label {
  display: block;
  margin-top: 10px;
}

.modal-product input,
.modal-product textarea,
.modal-product select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-product button[type="submit"],
.modal-product button[type="button"] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modal-product button[type="button"] {
  background-color: #f44336;
  margin-right: 10px;
}

.modal-product button[type="submit"]:hover,
.modal-product button[type="button"]:hover {
  opacity: 0.8;
}
